<h1><%= controller.action_name == 'search' ? 'Searching articles' : 'Listing articles' %></h1>

<%= render partial: 'search_form' %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Published on</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.__send__ controller.action_name == 'search' ? :each_with_hit : :each do |article, hit| %>
      <tr>
        <td><%= hit.try(:highlight).try(:title)   ? hit.highlight.title.join.html_safe : article.title %></td>
        <td><%= hit.try(:highlight).try(:content) ? hit.highlight.content.join('&hellip;').html_safe : article.content %></td>
        <td><%= article.published_on %></td>
        <td style="width: 50px"><%= link_to 'Show', article , class: 'btn btn-default btn-xs'%></td>
        <td style="width: 50px"><%= link_to 'Edit', edit_article_path(article) , class: 'btn btn-default btn-xs'%></td>
        <td style="width: 50px"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-default btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @articles %>


<hr>

<p style="text-align: center; margin-bottom: 21px">
  <%= link_to 'New Article',  new_article_path %>, class: 'btn btn-primary btn-xs', style: 'color: #fff'
<%= link_to 'All articles', articles_path if params[:q] %>, class: 'btn btn-primary btn-xs', style: 'color: #fff'


</p>
